# macOS
.DS_Store

# Node
/.env
/node_modules

# Yarn
yarn-error.log

# Production
/build
tailwind.generated.css

# Firebase
.firebase
.firebaserc
firebase.json
firestore.indexes.json
firestore.rules
storage.rules

# Etc.
*.log*
