/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

.font-tnum {
	font-feature-settings: "tnum";
}

.text-emoji {
	font-size: 1.2em;
	line-height: 1;
	vertical-align: -0.1em;
}

.-text-px { font-size: 0.9375rem; } /* 15px */
.text-px  { font-size: 1.0625rem; } /* 17px */

.trans-75   { @apply transition duration-75   ease-in-out; }
.trans-100  { @apply transition duration-100  ease-in-out; }
.trans-150  { @apply transition duration-150  ease-in-out; }
.trans-200  { @apply transition duration-200  ease-in-out; }
.trans-300  { @apply transition duration-300  ease-in-out; }
.trans-500  { @apply transition duration-500  ease-in-out; }
.trans-700  { @apply transition duration-700  ease-in-out; }
.trans-1000 { @apply transition duration-1000 ease-in-out; }
