.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

[class^=typography] { font-feature-settings: "tnum"; }

.typography-search-bar {
	white-space: normal;
	font: 400 16px /
		normal var(--sans);
	letter-spacing: null;
}
.typography-search-result {
	white-space: normal;
	font: 400 13px /
		normal var(--sans);
	letter-spacing: null;
}

.typography-sans {
	white-space: normal;
	font: 400 15px /
		1.6 var(--sans);
	letter-spacing: null;
}
.typography-small-sans {
	white-space: normal;
	font: 400 13px /
		1.6 var(--sans);
	letter-spacing: null;
}
.typography-caps {
	white-space: normal;
	font: 500 11px /
		normal var(--sans);
	letter-spacing: 0.1em;
}
.typography-small-caps {
	white-space: normal;
	font: 500 10px /
		normal var(--sans);
	letter-spacing: 0.1em;
}
.typography-code {
	white-space: pre;
	font: 400 14px /
		normal var(--code);
	letter-spacing: null;
}
.typography-small-code {
	white-space: pre;
	font: 400 10px /
		normal var(--code);
	letter-spacing: null;
}
