//// @layer utilities {
	.ellipsis {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: pre;
	}
//// }

//// @layer typography {
	.typography-search-bar {
		font-family: var(--sans);
		font-feature-settings: "tnum";
		font-size: 16px;
		font-weight: 400;
		letter-spacing: null;
	}
	.typography-search-result {
		font-family: var(--sans);
		font-feature-settings: "tnum";
		font-size: 13px;
		font-weight: 400;
		letter-spacing: null;
	}
	.typography-sans {
		font-family: var(--sans);
		font-feature-settings: "tnum";
		font-size: 15px;
		font-weight: 400;
		letter-spacing: null;
	}
	.typography-small-sans {
		font-family: var(--sans);
		font-feature-settings: "tnum";
		font-size: 13px;
		font-weight: 400;
		letter-spacing: null;
	}
	.typography-caps {
		font-family: var(--sans);
		font-feature-settings: "tnum";
		font-size: 11px;
		font-weight: 500;
		letter-spacing: 0.1em;
	}
	.typography-code {
		font-family: var(--code);
		font-feature-settings: "tnum";
		font-size: 14px;
		font-weight: 400;
		letter-spacing: null;
	}
//// }
