/* https://codepen.io/team/buysellads/pen/bGdqaOm */
body {
	background-color: #111;
}

#carbonads {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
	Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#carbonads {
	display: flex;
	max-width: 330px;
	background-color: hsl(0, 0%, 10%);
	box-shadow: 0 0 1px hsla(0, 0%, 0%, .5);
}

#carbonads a {
	color: #ddd;
	text-decoration: none;
}

#carbonads a:hover {
	color: #ddd;
}

#carbonads span {
	position: relative;
	display: block;
	overflow: hidden;
}

#carbonads .carbon-wrap {
	display: flex;
}

.carbon-img {
	display: block;
	margin: 0;
	line-height: 1;
}

.carbon-img img {
	display: block;
}

.carbon-text {
	padding: 10px;
	text-align: left;
	font-size: 13px;
	line-height: 1.5;
}

.carbon-poweredby {
	display: block;
	padding: 8px 10px;
	background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 15%, .4);
	color: #aaa !important;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-weight: 600;
	font-size: 9px;
	line-height: 1;
}
